<!-- Trigger button -->
<button type="button" class="btn btn-dark rounded-5 border shadow text-light" data-bs-toggle="modal" data-bs-target="#myModal">
    Accorcia url
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Accorcia link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="shortnerForm" (ngSubmit)="getOriginalUrl()">
                    <label for="shortner">*URL originale</label>
                    <input formControlName="shonerUrl" type="text" class="form-control" id="shortner" placeholder="Inserisci il link da accorciare" required>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
                <button (click)="getOriginalUrl()" type="button" class="btn btn-primary">Crea link</button>
            </div>
        </div>
    </div>
</div>