<section class="container my-3 p-3 border rounded-5 shadow bg-body">

    <!-- Area link -->
    <div class="card border-0">

        <div class="card-body">

            <div class="row">
                <div class="col">
                    <h4 class="card-title">Tutti i link</h4>
                </div>
                <!-- Search link -->
                <div class="col input-group">
                    <span class="input-group-text" id="basic-addon1"><ng-icon name="bootstrapSearch" size="16" /></span>
                    <input class="form-control" type="text" placeholder="Cerca link" aria-label="Cerca link"
                        aria-describedby="Area di ricerca per i link accorciati" required>
                    <button class="btn btn-primary input-group-text" id="basic-addon2">Cerca</button>
                </div>
            </div>

            <!-- Link -->
            <div class="container">
                <div class="col justify-content-center">
                    <div class="row-auto border p-3 m-2 mt-4 rounded-5 bg-light shadow">
                        
                        <div class="d-flex gap-2 justify-start align-items-center">
                            <span class="text-info">qui ci va il link short</span>
                            <span class="text-secondary">qui ci va la data con pipe date di angular</span>
                        </div>
                        
                        <span class="font-thin">qui ci va il link lungo</span>
                        
                        <div class="d-flex gap-2 justify-start align-items-center text-secondary">
                            <ng-icon name="bootstrapGraphUp" size="16" /> 
                            <span>qui ci va il numero di click totale</span>
                        </div>
                    </div>
                    <div class="row-auto border p-3 m-2 rounded-5 bg-light shadow">ciao</div>
                    <div class="row-auto border p-3 m-2 rounded-5 bg-light shadow">ciao</div>
                </div>
            </div>

        </div>

    </div>

</section>